################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/STL初识/v15
/STL初识/Debug
/Debug
/职工管理系统/Debug
/x64/Debug
/STL初识/x64/Debug
/.vs
